.about-us {
    margin: 0%;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    text-shadow: 0px 1px 1px #0A3641CC;
    text-align: left;
}

.about-us article {
    font-size: 1.5rem;
}

.start-shopping {
    text-align: right;
    padding-top: 3%;
    padding-right: 15%;
}