/* Color palette

Background  #F6F6F6
Frames      #3C6E6F
Logo        #0A3641
*/

/* Footer styling */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 8%;
    padding: 3px;
    background-color: #F6F6F6;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #0A3641;
    text-align: center;
    text-shadow: 0px 1px 1px #0A3641CC;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0%;
    padding: 0%;
    list-style: none;
}