/* Color palette

Background  #F6F6F6
Frames      #3C6E6F
Logo        #0A3641
*/

/* Header */

header {
    padding: 0.5rem 0 0.5rem 0;
    background-color: #F6F6F6cc;
    color: #0A3641;
}

.top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.7rem;
    padding-bottom: 0.6rem;
}

.top-nav {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    list-style: none;    
}

/* add a responsive search bar

.fa-magnifying-glass{

}
*/