/* Color palette

Background  #F6F6F6
Frames      #3C6E6F
Logo        #0A3641
*/

/* Main */

body {
    padding:0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif, serif;
    text-shadow: 0px 1px 1px #0A3641CC;
    color: white;
    background-image: url(https://i.ibb.co/ySQqw5w/bg-mountain1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-wrapper {
    background-color: #0A3641CC;
    text-align: center;
}

/* For Them */

.intro {
    text-shadow: 0px 1px 1px;
    padding-top: 1%;
    padding-bottom: 0.2%;
}

.special-word {
    color: #CA8773;
}

.for-them {
    display: flex;
    background-color: #F6F6F6;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
    font-size: 0.8em;
}

/*  picture display */

.pic-gallery {
    padding: 2rem 3.2rem 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow-x: scroll;
    width: 90%;
    border-left: 1px solid #0A3641;
    border-right: 1px solid #0A3641;
}

.gallery-container img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

/* TESTING */
