/* Color palette

Background  #F6F6F6
Frames      #3C6E6F
Logo        #0A3641
*/

/* Main styling */ 

body {
    height: 100%;
    margin: 0%;
    padding:0%;
    background-image: url(https://i.ibb.co/zxXS03D/bg-mountain1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif, serif;
    color: white;
    text-shadow: 0px 1px 1px #0A3641CC;
    padding-bottom: 1rem;
}

/* Links*/

a {
    color: #0A3641;
}

a:hover {
    color: #3C6E6FCC;
    text-decoration: none;
}

a:active {
    color: #0A3641;
}

/* Fonts */

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0px 1px 1px #0A3641CC;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 1px 1px #0A3641CC;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0px 1px 1px #0A3641CC;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0px 1px 1px #0A3641CC;
}

h5 {
    font-size: 0.8rem;
    font-weight: bold;
    text-shadow: 0px 1px 1px #0A3641CC;
}


/*.content-wrapper {
    text-align: center;
    text-shadow: 0px 1px 1px #0A3641CC;
}
*/
.intro {
    padding-top: 1%;
    padding-bottom: 0.2%;
    text-align: center;
    text-shadow: 0px 1px 1px #0A3641CC;
}

.special-word {
    color: #CA8773;
}

.for-them {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
    background-color: #F6F6F6;
    font-size: 0.8em;
    list-style: none;
}

/*  Picture Display */

.pic-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    padding: 2rem 3.2rem 7rem;
}

.gallery-container {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: scroll;
    width: 85%;
    border-right: 1px solid #0A3641;
    border-left: 1px solid #0A3641;
    white-space: nowrap;
}

.gallery-container img {
    max-width: 49%;
}

@media screen and (max-width: 1200px) {

    .pic-gallery {
        margin: auto;
    }    
    .gallery-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
        overflow-x: hidden;
        grid-column: 1;
        max-width: 100%;
        border-right: none;
        border-left: none; 
    }
    
    .gallery-container img {
        display: block;
        max-width: 80%;
        margin: auto;
    }
}