h2 {
    text-align: center;
    text-shadow: 0px 1px 1px #0A3641CC;
}

#jacket-filter {
    display: flex;
    justify-content: start;
    margin: 0;
    margin-left: 5%;
    padding: 0;
}

.jacket-display {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 1% 5% 5% 5%;
}

.jacket-display img {
    float: left;
    max-width: 45%;
    padding-right: 3rem;
}

.jacket-display div {
    text-align: start;
}

.jacket-display div {
    background-color: #F6F6F6;
    color: #000;
}
