h1 {
    text-align: center;
}

#jacket-filter {
    display: flex;
    justify-content: start;
    margin: 0;
    margin-left: 5%;
    padding: 0;
}

.jacket-display {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 1% 5% 5% 5%;
}

.jacket-display img {
    float: left;
    max-width: 45%;
    padding-right: 3rem;
}

.jacket-display div {
    background-color: #F6F6F6;
    color: #000;
    text-align: start;
}


@media screen and (max-width: 1200px) {

#jacket-filter {
        display: flex;
        justify-content: center;
        margin: auto;
    }

.jacket-display {
        display: grid;
        gap: 1rem;
        grid-template-rows: repeat(10, 0.1fr);
        grid-template-columns: 1fr 1fr 1fr;
        margin: 1rem;
    }
    
.jacket-display img {
        float: left;
        max-width: 100%;
        padding-right: 3rem;
    }
    
.jacket-display div {
        grid-column: 2;
        padding-bottom: 1rem;
        background-color: #F6F6F6;
        color: #000;
        text-align: center;
    }

}